name: Metrics Pipeline

#on: 
  push:
    branches:
      #- main
  pull_request:
    branches:
      #- main
  workflow_dispatch:  # Permite rodar manualmente pelo GitHub Actions

jobs:
  generate-metrics:
    runs-on: ubuntu-latest  
    environment: GITHUB_TOKEN

    steps:
      - name:  Checkout do c贸digo
        uses: actions/checkout@v4

      - name:  Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name:  Instalar Depend锚ncias Python
        run: |
          pip install --quiet json5 python-dotenv matplotlib pandas requests GitPython pygount

      #  Loop de execu莽茫o em lotes CUMULATIVOS
      - name:  Rodar Script de M茅tricas (Lote 1:0-100)
        run: python Lab02/src/main.py --start=0 --end=1000 --quiet
        env:
          API_URL: "https://api.github.com/graphql"
          TOKEN: ${{ secrets.TOKEN }}
          CK_REPO_URL: "${{ github.workspace }}/Lab02/ck-repo/ck-master"

      - name:  Salvar Relat贸rio Cumulativo (0-100)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-100
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 2:0-200)
        run: python Lab02/src/main.py --start=0 --end=1000 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-200)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-200
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 3:0-300)
        run: python Lab02/src/main.py --start=0 --end=300 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-300)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-300
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 4:0-400)
        run: python Lab02/src/main.py --start=0 --end=400 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-400)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-400
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 5:0-500)
        run: python Lab02/src/main.py --start=0 --end=500 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-500)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-500
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 6:0-600)
        run: python Lab02/src/main.py --start=0 --end=600 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-600)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-600
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 7:0-700)
        run: python Lab02/src/main.py --start=0 --end=700 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-700)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-700
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 8:0-800)
        run: python Lab02/src/main.py --start=0 --end=800 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-800)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-800
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 9:0-900)
        run: python Lab02/src/main.py --start=0 --end=900 --quiet

      - name:  Salvar Relat贸rio Cumulativo (0-900)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-900
          path: Lab02/reports

      - name:  Rodar Script de M茅tricas (Lote 10:0-1000)
        run: python Lab02/src/main.py --start=0 --end=1000 --quiet

      - name:  Salvar Relat贸rio FINAL (0-1000)
        uses: actions/upload-artifact@v4
        with:
          name: report-0-1000
          path: Lab02/reports
